ion-title {
    text-align: start;
  }

  ion-back-button{
      color: black;
  }

  .sc-ion-buttons-md-s .button {
    --background-hover: none;
}

ion-segment{
    border-radius: 100px;
    --background: none;
    border: none;
    height: 30px;
}

ion-segment-button{
    text-transform: capitalize !important;
    --indicator-color: #F3F3F3 !important;
    --color-checked: #000000 !important;
    --border-radius: 100px !important;
    --indicator-height: 30px !important;
    --border-width: 0px !important;
}

#btn {
    position: relative;
 }

 #badge {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 12px;
    border-radius: 20px;
 }

.circle {
    width: 500px;
    height: 500px;
    line-height: 500px;
    border-radius: 50%;
    font-size: 50px;
    border: 10px solid #1B6A1B;
    color: black;
    text-align: center;
    background: white;
  }

  .my-custom-class {
    --background: #222;
    --spinner-color: #fff;

    color: #fff;
  }

  .sc-ion-buttons-md-s .button {
    --background-hover: none;
}

.icon{
    height: 23px;
    width: 23px;
    padding-right: 6px;
}

.icon-redeem{
    height: 36px;
    width: 36px;
    padding-right: 6px;
}

.points{
    font-weight: 500;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

ion-row{
    padding: 0px;
}

ion-col{
    padding: 0px;
}

.points-redeem{
    font-weight: 500;
    vertical-align: middle;
    align-items: center;
    font-size: 36px;
}

ion-list{
    max-width: 1140px;
    margin: auto;
}



ion-progress-bar{
    --progress-background: #206fe4;
    --background: #e2e2e2;
}