<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Current Job</ion-title>
    <ion-buttons slot="end">
      <ion-button id="btn" slot="icon-only">
        <ion-icon size="large" name="chatbox-outline"></ion-icon>
        <ion-badge color="secondary" id="badge">3</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="inset" style="max-width: 1140px; margin: auto;">
    <ion-label>
      <div style="color: #7a7a7a; font-size: 15px;">
        Trip ID
      </div>
      <div style="color: black; font-size: 17px; font-weight: 500;">
        DA218378VX
      </div>
    </ion-label>
    <ion-label>
      <div style="color: #7a7a7a; font-size: 15px;">
        Shipper Order
      </div>
      <div style="color: black; font-size: 17px; font-weight: 500;">
        26828803
      </div>
    </ion-label>
    <ion-button slot="end" color="light" fill="clear">
      <ion-icon slot="icon-only" name="ellipsis-horizontal-circle"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-grid style="max-width: 1140px;">
    <ion-row>
      <ion-col size="1" style="text-align: center;">
        <img style="padding-top: 12px;" src="./assets/icons/current-job.svg">
      </ion-col>
      <ion-col>
        <ion-list lines="none">
          <ion-item>
            <ion-label style="font-size: 17px; font-weight: 500;" text-wrap>
              <div>
                Phoenix Closures Greencastle, IN
              </div>
            </ion-label>
            <ion-button color="light" fill="clear" slot="end">
              <ion-icon slot="icon-only" name="ellipsis-horizontal-circle"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label>
              <div style="font-size: 15px; color: #7a7a7a">
                Actual Arrival
              </div>
              <div style="font-size: 17px; font-weight: 500;">
                Fri, May 27 10:28
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <div style="font-size: 15px; color: #7a7a7a">
                Actual Departure
              </div>
              <div style="font-size: 17px; font-weight: 500;">
                Fri, May 27 11:38
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <div style="font-size: 15px; color: #7a7a7a">
               Trailer #
              </div>
              <div style="font-size: 17px; font-weight: 500;">
                360404
              </div>
            </ion-label>
            <ion-label>
              <div style="font-size: 15px; color: #7a7a7a">
               Pickup #
              </div>
              <div style="font-size: 17px; font-weight: 500;">
                29830967
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label style="font-size: 17px; font-weight: 500;" text-wrap>
              <div>
                Werner Terminal Joliet, IL
              </div>
            </ion-label>
            <ion-button color="light" fill="clear" slot="end">
              <ion-icon slot="icon-only" name="ellipsis-horizontal-circle"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label>
              <div style="font-size: 15px; color: #7a7a7a">
                Actual Arrival
              </div>
              <div style="font-size: 17px; font-weight: 500;">
                Fri, May 27, 15:00
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <div style="font-size: 15px; color: #7a7a7a">
               Trailer #
              </div>
              <div style="font-size: 17px; font-weight: 500;">
                360404
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
