<div class="background">
  <div class="edge-value modal">
    <ion-item class="title-row" lines="full">
      <ion-label>Achievement Blue Points</ion-label>
      <button>
        <img src="assets/cross.svg" alt="">
      </button>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="body ion-text-wrap">
        Accident Free
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="body ion-text-wrap">
        Clean CSA Inspections
      </ion-label>
    </ion-item>
  </div>
</div>
