<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" selected='true' (click)="didTap('home/home')">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" (click)="didTap('contact')">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" (click)="didTap('home/maps')">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4" (click)="didTap('home/loads')">
      <ion-icon src="assets/truck-moving-solid.svg"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

