<ion-header>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-avatar style="width: 28px; height: 28px;">
          <a href="/profile"><img src="../../assets/icons/person.png"></a>
        </ion-avatar>
      </ion-buttons>
      <ion-title><img style="vertical-align: middle;" src="../../assets/icons/logo.png"></ion-title>
      <ion-buttons slot="end">
        <ion-button slot="icon-only"  color="light" fill="clear">
          <ion-icon slot="icon-only" name="file-tray-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: auto; max-width: 1140px;" *ngIf="data">
    <div style="text-align: left; font-size: 34px; font-weight: 500; padding: 12px;">
      Pay
    </div>
    <ion-button color="primary" fill="clear"  id="trigger-button" (click)="video()">
      <ion-icon slot="start" name="cash-outline"></ion-icon>
      Getting Paid
    </ion-button>
    <ion-button color="primary" fill="clear" id="trigger-button">
      <ion-icon slot="start" name="trending-up-outline"></ion-icon>
      Pay Increase
    </ion-button>
    <ion-list lines="full">
      <ion-item detail button *ngFor="let item of pay" (click)="options()">
        <ion-label>
          <div style="color: #7F7F7F; font-size: 14px;">
            {{item.date}}
          </div>
          <div style="font-size: 17px; font-weight: 500;">
            {{item.amount}}
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div style="margin: auto; max-width: 1140px;" *ngIf="!data">
    <div style="text-align: left; font-size: 34px; font-weight: 500; padding: 12px;">
      Pay
    </div>
    <ion-button color="primary" fill="clear">
      <ion-icon slot="start" name="cash-outline"></ion-icon>
      Getting Paid
    </ion-button>
    <ion-button color="primary" fill="clear">
      <ion-icon slot="start" name="trending-up-outline"></ion-icon>
      Pay Increase
    </ion-button>
    <ion-item *ngFor="let number of [0,1,2,3,4,5,6]">
      <ion-label>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </div>

</ion-content>
