<ion-header>
  <ion-item lines="full">
    <ion-buttons>
      <ion-menu-button slot="start" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <img src="assets/Drive_Werner_Logo@3x.png" />
  </ion-item>
</ion-header>
<ion-content class="test">
  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card>
          <ion-card-title>
            Map it works!!
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col id="fadeshow1" size-xl="3" size-lg="3" size-md="3">
        <ion-card>
          <ion-card-title>
            Good morning,
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="6" size-xs="6">
        <ion-card>
          <ion-card-title>
            Upcoming pay
          </ion-card-title>
        </ion-card>
      </ion-col>

      <!--******************************************************************************************************-->
      <!--****************************--------------FEEDBACK AND SAFETY--------------***************************-->
      <!--******************************************************************************************************-->

      <ion-col id="fadeshow1" size-xl="3" size-lg="3" size-md="3" push-md="6" push-lg="0">
        <ion-card>
          <ion-card-title>
            Feedback
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col size-xl="3" size-lg="3" size-md="3" size-sm="6" size-xs="6" push-md="6" push-lg="0">
        <ion-card>
          <ion-card-title>
            Safety
          </ion-card-title>
        </ion-card>
      </ion-col>

      <!--******************************************************************************************************-->
      <!--****************************--------------REFERENCE LIBRARY CARD--------------************************-->
      <!--******************************************************************************************************-->

      <ion-col id="fadeshow1" size-xl="3" size-lg="3" size-md="6" pull-md="6" pull-lg="0">
        <ion-card>
          <ion-card-title>
            References Library
          </ion-card-title>
        </ion-card>
      </ion-col>

      <!--******************************************************************************************************-->

      <ion-col id="fadeshow2" size-xl="3" size-lg="3" size-md="3">
        <ion-card>
          <ion-card-title>
            Watched Jobs
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col id="fadeshow2" size-xl="3" size-lg="3" size-md="3">
        <ion-card>
          <ion-card-title>
            eTrainer
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col id="fadeshow1" size-xl="3" size-lg="3" size-md="3" push-md="6" push-lg="0">
        <ion-card>
          <ion-card-title>
            FAQ
          </ion-card-title>
        </ion-card>
      </ion-col>

      <!--******************************************************************************************************-->
    </ion-row>
  </ion-grid>
</ion-content>
