
<ion-header>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-avatar style="width: 28px; height: 28px;">
          <a href="/profile"><img src="../../assets/icons/person.png"></a>
        </ion-avatar>
      </ion-buttons>
      <ion-title><img style="vertical-align: middle;" src="../../assets/icons/logo.png"></ion-title>
      <ion-buttons slot="end">
        <ion-button slot="icon-only"  color="light" fill="clear">
          <ion-icon slot="icon-only" name="file-tray-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div style="margin: auto; max-width: 1140px;">
    <div style="text-align: left; font-size: 34px; font-weight: 500; padding: 12px;">
      Map
    </div>
    <div style="width: 100%; text-align: center; height: 100%; vertical-align: middle;">
      <img src="./assets/icons/map-full.PNG">
    </div>
</div>
</ion-content>
