<ion-header>
  <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-avatar style="width: 28px; height: 28px;">
          <a href="/profile"><img src="../../assets/icons/person.png"></a>
        </ion-avatar>
      </ion-buttons>
      <ion-title><img style="vertical-align: middle;" src="../../assets/icons/logo.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: auto; max-width: 1140px;">
    <ion-card button href="/current-job" style="margin-bottom: 6px;">
      <ion-card-header>
        <ion-card-title style="font-size: 18px;">
          Current Job<ion-icon style="align-items: center; vertical-align: middle;" name="chevron-forward-outline"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-label>
              <div style="color: #7d7d7d">
                Next Location
              </div>
              <div style="font-size: 16px; font-weight: 500;">
                Phoenix Closures Greencastle, IN
              </div>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <div style="color: #7d7d7d">
                Scheduled Arrival
              </div>
              <div style="font-size: 16px; font-weight: 500;">
                May 27, 15:00
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-row style="width: 100%; height: fit-content;">
        <ion-col style="vertical-align: middle; align-items: center; display: block; align-content: center; margin: auto;">
          <ion-segment style="text-align: left; align-items: left; margin-left: 12px !important;" mode="ios" value="in-progress" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="in-progress">
              Past
            </ion-segment-button>
            <ion-segment-button value="completed" (click)="asyncSkeleton()">
              Pre-Assigned
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col size="4" style="text-align: right;">
          <ion-button color="secondary" fill="clear" style="margin: 0px;">View All</ion-button>
        </ion-col>
      </ion-row>

      <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
        <ion-slide *ngFor="let card of pastjobs" style="width: 250px; height: fit-content;">
          <ion-col>
            <ion-card style="padding: 12px !important; margin: 0px;">
              <ion-card-header style="padding: 0px; font-size: 16px; text-align: left;">
                <ion-row>
                  <ion-col size="10"><span style="font-size: 16px; font-weight: 500; color: black;">{{card.title}}</span></ion-col>
                  <ion-col size="2"><ion-icon name="ellipsis-horizontal" style="float: right;"></ion-icon></ion-col>
                </ion-row>
              </ion-card-header>
              <ion-card-content style="text-align: left; padding: 3px;">
                <div style="color: #7d7d7d">{{card.date}} - {{card.id}}</div>
                <ion-chip *ngIf="card.chip == 'Submitted'" style="margin-top: 6px;" outline color="warning">{{card.chip}}</ion-chip>
                <ion-chip *ngIf="card.chip == 'Missing'" style="margin-top: 6px;" outline color="danger">{{card.chip}}</ion-chip>
                <ion-chip *ngIf="card.chip == 'Paid'" style="margin-top: 6px;" outline color="success">{{card.chip}}</ion-chip>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-slide>
      </ion-slides>

    </ion-row>
    <ion-row>
      <ion-col *ngFor="let item of cards"
        size-xs="6"
        size-sm="4"
        size-md="4"
        size-lg="3"
        size-xl="2"
        >
        <ion-card button routerLink="/{{item.url}}" style="margin: 6px;">
          <ion-card-header>
            <ion-card-title style="font-size: 18px; text-transform: capitalize;">
              {{item.title}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <img [src]="item.image">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

