<ion-app>
  <ion-content>
    <ion-menu contentId="main-content" type="overlay">
      <ion-content style="width: 320px;">
        <ion-list id="inbox-list ion-safe-area-top">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img style="height: 100%; width: 100%;" alt="driver profile" src="./assets/icons/person.png"/>
            </ion-avatar>
            <ion-label>
              <div>Bryan</div>
              <div>View Profile</div>
            </ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="full" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label class="edge-value list-item-label">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-content>
</ion-app>
