
  ion-menu-button {
    position: absolute;
  }

  ion-list{
  padding: 0px;
  }


ion-menu {
  --min-width: 320px;
}

  .menu-header {
    background-color: var(--canvas-background);
    padding: 24px;
    height: 100px !important;
  }

  .user-name-label {
    font-weight: bold;
    font-size: 1em;
    margin-left: 10px;
  }

  .vertical-spacer {
    height: 10px;
    width: 100%;
  }

  .user-view-profile-label {
    color: #2c81d5;
    margin-left: 14px;
    padding-top: 0.5em;
    font-size: 0.8em;
  }

  .list-item {
    width: 96% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .list-item-label {
    line-height: 24px;
  }

  .icon-col {
    width: 40px;
    max-width: 40px;
    min-width: 40px;
    ion-icon {
      width: 24px;
      height: 24px;
    }
  }
  .ionic-icon {
    font-size: 20px;
  }

  .paperwork-item {
    ion-icon {
      margin-left: -4px;
    }
  }

  .workday-item,
  .messages-item,
  .wernerNews-item,
  .eTrainer-item,
  .opportunities-item,
  .welcome-item,
  .shareFeedback-item {
    ion-icon {
      margin-left: -1px;
    }
  }

  .safety-item,
  .urgentCare-item,
  .customizeHomeScreen-item,
  .dark-theme-item,
  .logout-item {
    ion-icon {
      margin-left: -2px;
    }
  }
  .faq-item,
  .settings-item {
    ion-icon {
      margin-left: -3px;
    }
  }

  .messages-badge {
    float:right !important;

    font-weight: 900 !important;
    margin-top:2px !important;
    background-color: var(--primary-dark);
    border-radius: 100%;
    padding: 6px 9px;
  }

  .menu-header {
    justify-content: flex-start;
    flex: 1 1 auto;
  }