
  <ion-toolbar mode="md">
      <ion-title slot="start"><img style="vertical-align: middle;" src="../../assets/icons/logo.png"></ion-title>
      <ion-buttons slot="end">
        <ion-button slot="icon-only">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-content>
    <div style="margin: auto; max-width: 1140px;">
      <ion-card>
        <ion-card-header>
          <ion-card-title style="font-size: 18px;">
            Current Job<ion-icon style="align-items: center; vertical-align: middle;" name="chevron-forward-outline"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <ion-label>
                <div style="color: #7d7d7d">
                  Next Location
                </div>
                <div style="font-size: 16px; font-weight: 600;">
                  Family Dollar DC 955 Marianne, FL
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <div style="color: #7d7d7d">
                  Scheduled Arrival
                </div>
                <div style="font-size: 16px; font-weight: 600;">
                  Sep 29, 16:30
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-row>
        <ion-col size="3" *ngFor="let item of cards" style="text-align: center;">
          <div>
            <img style="height: 32px; width: 32px;" [src]="item.image">
          </div>
          <div style="font-size: 16px; font-weight: 600">
            {{item.title}}
          </div>
        </ion-col>
      </ion-row>
      <ion-list>
        <ion-segment style="text-align: left; align-items: left; width: 250px;" mode="ios" value="previous">
          <ion-segment-button value="previous">
            Previous
          </ion-segment-button>
          <ion-segment-button value="preassigned">
            Pre-Assigned
          </ion-segment-button>
        </ion-segment>
        <ion-item *ngFor="let item of pastjobs">
          <ion-label>
            <div style="font-size: 16px; font-weight: 600;">
              {{item.title}}
            </div>
            <div style="font-size: 16px; color: #7d7d7d;">
              {{item.date}} - {{item.id}}
            </div>
          </ion-label>
          <ion-chip color="warning" *ngIf="item.chip == 'Submitted'">
            <ion-label>
              {{item.chip}}
            </ion-label>
          </ion-chip>
          <ion-chip color="success" *ngIf="item.chip == 'Paid'">
            <ion-label>
              {{item.chip}}
            </ion-label>
          </ion-chip>
          <ion-chip color="danger" *ngIf="item.chip == 'Missing'">
            <ion-label>
              {{item.chip}}
            </ion-label>
          </ion-chip>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>

