<ion-content>
  <ion-item style="padding-top: 12px; max-width: 1140px; margin: auto;" lines="none">
    <ion-avatar slot="start" style="height: 54px; width: 54px;">
      <img src="../../assets/icons/person.png">
    </ion-avatar>
    <ion-label>
      <div  style="color: #7d7d7d">
        <a href="/profile">View Your Profile</a>
      </div>
      <div style="font-size: 16px; font-weight: 600;">
        James Williams
      </div>
    </ion-label>
  </ion-item>
  <ion-grid style="max-width: 1140px; margin: auto;">
    <ion-row>
      <ion-col *ngFor="let item of cards"
        size-xs="6"
        size-sm="4"
        size-md="4"
        size-lg="3"
        size-xl="2"
        >
        <ion-card button routerLink="/{{item.url}}">
          <ion-card-header>
            <ion-card-title style="font-size: 18px; text-transform: capitalize;">
              {{item.title}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content style="text-align: center;">
            <img [src]="item.image">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
