ion-input{
    border-color: #403E39;
    border-width: thin;
    border-style: solid;
    border-radius: 3px;
    padding-left: 12px !important;
}

ion-textarea{
    border-color: #403E39;
    border-width: thin;
    border-style: solid;
    border-radius: 3px;
    padding-left: 12px !important;
}