
  <ion-toolbar mode="md">
    <ion-title>Referral</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" style="color: black;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content>
  <ion-list lines="none" style="max-width: 1140px; margin: auto;" mode="ios">
    <ion-item>
      <div>
        Enter the details below for the driver you are referring to Werner.
        We'll automatically keep a record that you are the one referring them.
      </div>
      <br>
    </ion-item>
    <ion-item>
      <div>
        A recruiter will be in touch with them within one business day.
      </div>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Full Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Message</ion-label>
      <ion-textarea auto-grow rows="6"></ion-textarea>
    </ion-item>
    <div style="width: 100%;" class="ion-text-end">
      <ion-button color="primary" fill="clear" defaultHref="/">
        Cancel
      </ion-button>
      <ion-button>
        Send
      </ion-button>
    </div>
   </ion-list>
</ion-content>
